<%- include("partials/header") %>
<h1>Home</h1>
<p> <%= StartingContent %> </p>
<% postss.forEach(function(post) { %>
    <h1><%= post.pTitle %></h1>
    <p><%= post.pPost.substring(1, 100)+"..." %>
    <a href="posts/<%= post.pTitle %>">Read more</a></p>
<% }) %>
<%- include("partials/footer") %>
